.list_wrapper {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-dark-gray);
    border-radius: 4px;

    .searcher {
        display: flex;
        flex-direction: column;
        gap: 10px;

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: var(--base-bg-primary);
        text-align: left;

        padding: 10px 10px 10px 12px;
        height: 80px;

        .input {
            background-color: var(--base-bg-primary);
            color: var(--my-white-color);
            border: 1px solid var(--line-primary);
            border-radius: 4px;
            padding: 0 10px;
        }

        .selector-all {
            display: flex;
            gap: 10px;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        border-top: 2px dashed var(--color-dark-gray);
        padding: 10px 0;
        height: 100%;

        &__row {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding: 5px 0 5px 14px;
        }
    }
}

.list-checkbox-wrapper {
    background-color: var(--color-gray-light);

    .searcher {
        display: flex;
        flex-direction: column;
        gap: 10px;

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: var(--base-bg-primary);
        text-align: left;

        padding: 10px 10px 0 12px;
        height: 80px;

        .input {
            background-color: var(--base-bg-primary);
            color: var(--my-white-color);
            border: 1px solid var(--line-primary);
            border-radius: 4px;
            padding: 0 10px;
        }

        .selector-all {
            display: flex;
            gap: 10px;
        }
    }
}