.checkbox-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.checkbox-wrapper.checked .checkbox {
    background-color: var(--color-additional-dark);
    border-color: var(--color-additional-dark);
}

.checkmark {
    width: 20px;
    height: 20px;
}