.content-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border-bottom: 2px solid var(--color-gray);
    margin-bottom: 2px;
}

.question {
    p {
        text-align: left;
        margin-left: 20px;
        padding: 10px 0;

    }

    margin-bottom: 2px;
}

.answer {
    border-left: 2px dashed var(--color-gray);
    margin-bottom: 2px;

    p {
        text-align: left;
        padding: 10px 0 10px 10px;

        cursor: pointer;
    }


    textarea {
        display: flex;
        justify-content: start;
        margin: 5px;
        padding: 5px;
        resize: none;
        background-color: var(--my-black-color);
        color: var(--my-white-color);
        width: 100%;
        overflow: hidden;
    }
}